<!-- action search template begin -->
<ng-template #searchActionsTable>
  <form nz-form [formGroup]="searchActionForm" (submit)="getActionsAndCount(1)">
    <div nz-row nzGutter="24">
      <div nz-col nzSm="12" nzMd="8" nzLg="6">
        <nz-form-item>
          <nz-form-label nzFor="search-code">
            代&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码
          </nz-form-label>
          <nz-form-control>
            <input
              id="search-code"
              nz-input
              formControlName="code"
              placeholder="请输入查询的代码"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSm="12" nzMd="8" nzLg="6">
        <nz-form-item>
          <nz-form-label nzFor="search-name">
            名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称
          </nz-form-label>
          <nz-form-control>
            <input
              id="search-name"
              nz-input
              formControlName="name"
              placeholder="请输入查询的名称"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSm="12" nzMd="8" nzLg="6">
        <nz-form-item>
          <nz-form-label nzFor="search-method">
            类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型
          </nz-form-label>
          <nz-form-control>
            <nz-select
              id="search-method"
              formControlName="method"
              [nzOptions]="methodOptions"
              nzAllowClear
              nzPlaceHolder="请选择查询的类型"
            ></nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSm="12" nzMd="8" nzLg="6">
        <nz-form-item>
          <nz-form-label nzFor="search-path">
            路&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;径
          </nz-form-label>
          <nz-form-control>
            <input
              id="search-path"
              nz-input
              formControlName="path"
              placeholder="请输入查询的路径"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div
        nz-col
        [nzSm]="{ span: 12, push: 12 }"
        [nzMd]="{ span: 8, push: 8 }"
        [nzLg]="{ span: 6, push: 18 }"
      >
        <nz-form-item class="flr">
          <nz-space>
            <nz-space-item>
              <button type="button" nz-button nzType="default" (click)="reset()">
                重置
              </button>
            </nz-space-item>
            <nz-space-item>
              <button type="button" nz-button nzType="primary" (click)="search()">搜索</button>
            </nz-space-item>
          </nz-space>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>
<!-- action search template end -->

<!-- action list template begin -->
<nz-table
  #actionsTable
  [nzTitle]="searchActionsTable"
  [nzLoading]="actionsLoading"
  [nzData]="actions"
  [nzTotal]="actionsTotal"
  [(nzPageIndex)]="actionsPageNumber"
  [(nzPageSize)]="actionsPageSize"
  nzBordered
  nzSize="small"
  [nzFrontPagination]="false"
  nzShowSizeChanger
  nzHideOnSinglePage
  (nzPageIndexChange)="getActionsAndCount($event)"
  (nzPageSizeChange)="getActionsAndCount(actionsPageNumber, $event)"
>
  <thead>
    <tr>
      <th>id</th>
      <th>代码</th>
      <th>名称</th>
      <th>类型</th>
      <th>路径</th>
      <th class="tac" width="100">
        <nz-space>
          <nz-space-item>操作</nz-space-item>
          <nz-space-item>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              nz-tooltip
              nzTooltipTitle="点击创建"
              (click)="openActionModal()"
            >
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </nz-space-item>
        </nz-space>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let action of actionsTable.data">
      <td>{{ action.id }}</td>
      <td>{{ action.code }}</td>
      <td>{{ action.name }}</td>
      <td>{{ action.method }}</td>
      <td>{{ action.path }}</td>
      <td class="tac">
        <nz-space>
          <nz-space-item>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              nz-tooltip
              nzTooltipTitle="点击编辑"
              (click)="openActionModal(action)"
            >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
          </nz-space-item>
          <nz-space-item>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              nzDanger
              nz-popconfirm
              [nzTitle]="messages.DELETE_CONFIRM"
              (nzOnConfirm)="deleteAction(action.id)"
              [nzLoading]="deletedActionId === action.id"
              [disabled]="deletedActionId === action.id"
              nz-tooltip
              nzTooltipTitle="点击删除"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </nz-space-item>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- action list template end -->

<!-- action modal template begin -->
<nz-modal
  [(nzVisible)]="actionModalVisible"
  nzTitle="接口管理"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="closeActionModal()"
>
</nz-modal>
<ng-template #modalContent>
  <nz-content>
    <form nz-form [formGroup]="actionForm" (submit)="saveActionForm()">
      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="form-code">代码</nz-form-label>
        <nz-form-control nzSpan="20" nzValidateStatus nzHasFeedback>
          <input id="form-code" nz-input formControlName="code" placeholder="请输入代码" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="form-name" nzRequired>名字</nz-form-label>
        <nz-form-control nzSpan="20" nzValidateStatus nzHasFeedback>
          <input id="form-name" nz-input formControlName="name" placeholder="请输入名字" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="form-method" nzRequired>类型</nz-form-label>
        <nz-form-control nzSpan="20" nzValidateStatus nzHasFeedback>
          <nz-select
            id="form-method"
            formControlName="method"
            [nzOptions]="methodOptions"
            nzAllowClear
            nzPlaceHolder="请选择类型"
          ></nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="form-path" nzRequired>路径</nz-form-label>
        <nz-form-control nzSpan="20" nzValidateStatus nzHasFeedback>
          <input id="form-path" nz-input formControlName="path" placeholder="请输入路径" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="form-comment">备注</nz-form-label>
        <nz-form-control nzSpan="20" nzValidateStatus nzHasFeedback>
          <textarea
            id="form-comment"
            nz-input
            formControlName="comment"
            placeholder="请输入备注"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-content>
</ng-template>
<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="closeActionModal()">
    取消
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="saveActionDisabled"
    [nzLoading]="saveActionLoading"
    (click)="saveActionForm()"
  >
    保存
  </button>
</ng-template>
<!-- action modal template end -->
